@font-face {
  font-family: f4;
  src: url(../../fonts/g2.ttf);
}

.f1{
  font-family: "f4";
}
.skills-item{
        transition: all 1s ease;
        color: rgb(174, 255, 228);
        border-radius:20px 0 20px 0px;

        &:hover{
            background: transparent;
            background: linear-gradient(135deg, rgba(213, 218, 147, 0.62) 0%, rgba(222, 97, 97, 0.06) 80%);
            padding-right: 1rem;
            color: rgb(255, 255, 255);  
        }
    }




