
  .me{
    background: linear-gradient(rgba(207, 56, 56, 0.459) , rgba(54, 56, 187, 0.466), transparent);
    border-radius: 12rem 12rem 0 0;
    transition: all 0.4s ease;
    &:hover{
      filter: saturate(2);
    }
  }
