.bg-home{
  background: url("../../assets/img/banner-bg.png");
  background-repeat: no-repeat !important;
  background-size: cover !important;  
}
.review_container{
    &::after{
      content: "";
      width: 2px;
      height: 4.5rem;
      background: #e1d7f7;
      background: linear-gradient(-90deg, #e5dcf8 0%, rgba(216, 210, 230, 0) 100%);
      background: -webkit-linear-gradient(-90deg,#f6f1ff 0%,rgba(215, 203, 240, 0) 100%);
      position: absolute;
      top: 150px;
      right: 8px;
      border-radius: 20px;
    }
}  
.link-socials{
  transition: all 0.2s ease;
  cursor:url("../../assets/n14.cur"),default;
  z-index: 10;
  &:hover{
    color:#4db5ff;
  } 
}
.btn{
  color: rgb(130, 255, 234);
  cursor:url("../../assets/n14.cur"),default;
  border: 1px solid rgb(195, 197, 212);
  transition: all 1s ease;
  &:hover{
    color: rgb(0, 0, 0);
    background: #fff;
    border-color: transparent;
    background: linear-gradient(135deg, rgba(34,193,195,1) 0%, rgba(222,97,97,1) 57%, rgba(255,244,0,1) 100%);
      
  }
}
.btn-primary{
  background: linear-gradient(135deg, rgba(34,193,195,1) 0%, rgba(222,97,97,1) 57%, rgba(255,244,0,1) 100%) !important;
  color: black;
  &:hover{
    color: rgb(130, 255, 234) !important;
    border-color: wheat !important;
    background: none !important;      
  }
}
.home-head{
  h1{
    @apply font-MorabbaB;    
  }
}
.Typewriter__cursor{
  display: none;
}
