nav{  
    a{
      @apply relative text-base  text-transparent font-Dana;
      -webkit-text-stroke: 5px rgba(255, 255, 255, 0.644);
      cursor:url("../../assets/n14.cur"),default;
      text-align: center;
      
      &::after{
        content: "";
        margin: 0 auto;
        position: absolute;
        color:var(--clr);
        width: 15px;
        height: 15px;
        border-radius: 50%;
        border: 3px dashed var(--clr);
        -webkit-text-stroke: 10px var(--clr);
        transition:all 1s ease;

      }
      &:hover{
        &::after{
          transform: rotate(320deg);
          transition:all 1s ease;
        }
      }
     
      &.active::after{
        background-color: var(--clr) !important;
        color: var(--clr) !important;
        overflow: hidden;
        transform: rotate(320deg);
        transition:all 1s ease;
        filter: drop-shadow(0px 0px 8px var(--clr));
      }
    } 
}



@media screen and (max-width:600px) {
 nav{
  display: none;
 } 
}