
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600&family=Roboto:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
  @font-face {
    font-family: "Dana" ;
    src: url("./fonts/Dana/woff2/DanaFaNum-Regular.woff2") format("woff2");
    /* font-display: swap; */
  }
  @font-face {
      font-family: "Dana Medium" ;
      src: url("./fonts/Dana/woff2/DanaFaNum-Medium.woff2") format("woff2");
      font-display: swap;
  }
  @font-face {
      font-family: "Dana DemiBold" ;
      src: url("./fonts/Dana/woff2/DanaFaNum-DemiBold.woff2") format("woff2");
      font-display: swap;
  }
  @font-face {
      font-family: "Morabba Light" ;
      src: url("./fonts/Morabba/woff2/Morabba-Light.woff2") format("woff2");
      font-display: swap;
  }
  @font-face {
      font-family: "Morabba Medium" ;
      src: url("./fonts/Morabba/woff2/Morabba-Medium.woff2") format("woff2");
      font-display: swap;
  }
  @font-face {
      font-family: "Morabba Bold" ;
      src: url("./fonts/Morabba/woff2/Morabba-Bold.woff2") format("woff2");
      font-display: swap;
  }
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
  text-decoration: none;
  scroll-behavior: smooth;
}

html::-webkit-scrollbar{
  width: 6px;
}
html::-webkit-scrollbar-track{
  background:#355d5e;
}
html::-webkit-scrollbar-thumb{
  background:#020537;
}
body{
  cursor:url("./assets/n9.cur"),default; 
  background: url("./assets/img/footer-bg.png");  
  background-size: cover !important;
  background-attachment: fixed;
}
.black-gradient {
  background: #000000; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #434343,
    #000000
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #434343,
    #000000
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.violet-gradient {
  background: #804dee;
  background: linear-gradient(-90deg, #804dee 0%, rgba(60, 51, 80, 0) 100%);
  background: -webkit-linear-gradient(
    -90deg,
    #804dee 0%,
    rgba(60, 51, 80, 0) 100%
  );
}

.green-pink-gradient {
  background: "#00cea8";
  background: linear-gradient(90.13deg, #00cea8 1.9%, #bf61ff 97.5%);
  background: -webkit-linear-gradient(-90.13deg, #00cea8 1.9%, #bf61ff 97.5%);
}

.orange-text-gradient {
  background: #f12711; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    #f12711,
    #f5af19
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #f12711,
    #f5af19
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.green-text-gradient {
  background: #11998e; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    #11998e,
    #38ef7d
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #11998e,
    #38ef7d
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.blue-text-gradient {
  /* background: -webkit-linear-gradient(#eee, #333); */
  background: #56ccf2; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    #2f80ed,
    #56ccf2
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #2f80ed,
    #56ccf2
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.pink-text-gradient {
  background: #ec008c; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    #ec008c,
    #fc6767
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #ec008c,
    #fc6767
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.head-after{
  border-top:none !important;
  border-left: none !important;
  border-right: none !important;
  border-bottom: 3px solid !important;
  border-image-slice: 1;
  border-width: 1px;
  border-image-source: radial-gradient(circle, rgba(34,193,195,.7) 23%, rgba(222,97,97,0.2) 100%);
}